* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  background-color: white;
  padding: 100px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.heading {
  text-align: center;
}
.heading h1 {
  margin-bottom: 40px;
  font-size: 50px;
}
.value {
  margin-bottom: 40px;
  font-size: 34px;
}
.value-positive {
  color: green;
}
.value-negative {
  color: red;
}

.btn {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
